{% extends 'basic.html' %}
{% block title %} Showblog {% endblock %}
{% block css %} {% endblock %}
{% block afterBody %}
<div class="fixNavBox">
    <a href="/creatingBlog">
        <div class="fixNav circle">
            <i class='bx bx-plus-circle' style='color:#ffa500'></i>
        </div>
    </a>
    <span class="fixNavText">New Blog</span>
</div>
{% endblock %}
{% block body %}
<!-- Theme change box (Side Box) -->
<div class="sideBoxRoot" id="sideBoxRoot">
    &#60;
</div>
<div class="sideBox" id="sideBox">
    <div class="scrollToBottom">
        <button type="button" class="scrollBtn" id="scrollBtnTop">↑</button>
    </div>
    <div>
        <div class="color color1" id="color1"></div> Default
    </div>
    <div>
        <div class="color color2" id="color2"></div> Light
    </div>
    <div>
        <div class="color color3" id="color3"></div> Dark
    </div>
    <div class="scrollToBottom">
        <button type="button" class="scrollBtn" id="scrollBtnBtm">↓</button>
    </div>
</div>

<!-- ShowBlogBox -->
<div class="blogShowBox" id="showBlogBox">
    {% for i in blogs|slice:"0:" %}
    <div class="createBlogForm" class="createBlogForm">
        <div class="blogDiv1 blogDiv">
            <div class="blogTitleIn">
                <h1 style="text-align: center;">{{i.blog_title}}</h1>
                <img id="blogTitleIn" class="inputBlogImage showBlogImg" src="/media/{{i.image}}">
            </div>
            <p id="blogDescription" class="createBlogTextarea">{{i.description}}</p>
        </div>
        <div class="blogDiv">
            <h2>{{i.blog_para1_heading}}</h2>
            <p name="para1" id="blogPara1" class="createBlogTextarea">{{i.blog_para1}}</p>
        </div>
        <div class="blogDiv3 blogDiv">
            <div class="blogSubject blogSubject1">
                {% if i.middleimage != ''%}
                <img id="subImage1" class="inputBlogImage inputBlogImageD showBlogImg" src="/media/{{i.middleimage}}" />
                {% endif %}
                <h2>{{i.blog_para2_heading}}</h2>
                {% if i.blog_para2 != ''%}
                <p name="para2" id="blogPara2" class="createBlogTextarea">{{i.blog_para2}}</p>
                {% endif %}
            </div>
            <div class="blogSubject blogSubject2">
                {% if i.bottomimage != ''%}
                <img src="/media/{{i.bottomimage}}" id="subImage2" class="inputBlogImage inputBlogImageD showBlogImg" />
                {% endif %}
                <h2>{{i.blog_para3_heading}}</h2>
                {% if i.blog_para3 != ''%}
                <p name="para2" id="blogPara2" class="createBlogTextarea">{{i.blog_para3}}</p>
                {% endif %}
            </div>
        </div>
        {% if i.blog_para4 != ''%}
        <div class="blogDiv4 blogDiv">
            <h2>{{i.blog_para4_heading}}</h2>
            <p name="para1" id="blogPara1" class="createBlogTextarea" cols="30" rows="10" maxlength="5000"
                placeholder="Paragraph 4">{{i.blog_para4}}</p>
        </div>
        {% endif %}
        <br><br>
        Creator : {{i.creator}} <br>
        User : {{i.user}}
    </div>
    {% endfor %}
</div>
<script>
    let showBlogBox = document.getElementById('showBlogBox')
    let sideBox_ = document.getElementById('sideBox')
    showBlogBox.addEventListener('mouseover', function () {
        sideBox_.style.display = 'none'
    })
</script>
<script>
    let sideBox = document.querySelector('.sideBox')
    let sideBoxStyle = getComputedStyle(sideBox)
    let sideBoxRoot = document.getElementById('sideBoxRoot')
    sideBoxRoot.addEventListener('mouseover', () => {
        if (sideBoxStyle.display == 'flex') {
            sideBox.style.display = 'none'
        }
        else {
            sideBox.style.display = 'flex'
        }
    })
    let color1 = document.getElementById('color1')
    let color2 = document.getElementById('color2')
    let color3 = document.getElementById('color3')
    let colors = document.getElementsByClassName('color')
    let body = document.getElementById('body')

    for (let i = 0; i < colors.length; i++) {
        colors[i].addEventListener('click', function () {
            current_box = colors.item(i)
            current_box.style.borderColor = 'skyblue'
            if(i==0){
                body.style.backgroundColor = '#242582'
                body.style.color = 'white'
                let nav_li___ = document.getElementsByClassName('nav_li')
                for(let o =0;o<nav_li___.length;o++){
                    nav_li___.item(o).style.color = 'white'
                }
            }
            if(i==1){
                body.style.backgroundColor = 'white'
                body.style.color = 'black'
                let nav_li___ = document.getElementsByClassName('nav_li')
                for(let o =0;o<nav_li___.length;o++){
                    nav_li___.item(o).style.color = 'black'
                }
            }
            if(i==2){
                body.style.backgroundColor = 'black'
                body.style.color = 'white'
                let nav_li___ = document.getElementsByClassName('nav_li')
                for(let o =0;o<nav_li___.length;o++){
                    nav_li___.item(o).style.color = 'white'
                }
            }
            for (let j = 0; j < colors.length; j++) {
                if (j != i) {
                    colors.item(j).style.border = '2px solid transparent'
                }
            }

        })
    }
    let scrollBtm = document.getElementById('scrollBtnBtm')
    let scrollTop = document.getElementById('scrollBtnTop')
    scrollTop.addEventListener('click', () => {
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    })
    scrollBtm.addEventListener('click', () => {
        window.scrollTo(0, document.body.scrollHeight)
    })
</script>

{% endblock %}